 body {
     background-color: rgb(235, 243, 250);
 }
 
 .navbar {
     background-color: #3FA796;
 }
 
 #rcorners1 {
     font-weight: bolder;
     border-radius: 20px;
     background: #3FA796;
     border: 2px solid #e4f1ef;
     padding: 18px;
     width: 380px;
     height: 10px;
 }
 
 ::placeholder {
     color: #fff;
 }
 
 .head {
     color: #fff;
     font-size: 35px;
 }
 
 #carou {
     padding: 10px;
     border-radius: 50px;
     border: 25px solid #3FA796;
 }
 
 #alloptions {
     background-color: #fbf9f9;
     border-color: #3FA796;
     border-radius: 30px;
     padding-left: 100px;
     padding-right: 100px;
     padding-top: 100px;
     font-weight: bolder;
     color: #3FA796;
 }
 
 .log {
     padding-left: 100px;
     padding-bottom: 10px;
 }
 
 .log1 {
     padding-left: 93px;
 }
 
 #he {
     padding-left: 5px;
     padding-right: 5px;
 }
 
 .h {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #3FA796;
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: #cdece7;
     border-radius: 20px;
 }
 
 #cards1 {
     padding-left: 20px;
     padding-right: 20px;
 }
 
 #cards2 {
     padding-left: 50px;
 }
 
 .letter {
     padding-bottom: 50px;
     text-align: center;
 }
 
 .let {
     color: #ffffff;
     padding-top: 65px;
     font-size: 100px;
 }
 
 .off {
     background-color: green;
     padding-left: 10px;
     padding-right: 10px;
     color: white;
 }
 
 footer {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 
 footer .col {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 20px;
 }
 
 footer h4 {
     font-size: 14px;
     padding-bottom: 20px;
 }
 
 footer p {
     font-size: 13px;
     margin: 0 0 8px 0;
 }
 
 footer a {
     font-size: 13px;
     text-decoration: none;
     color: #222;
     margin-bottom: 10px;
 }
 
 .copyright {
     text-align: center;
 }
 
 .col {
     padding: 20px;
 }
 
 .n1 {
     padding-top: 15px;
     padding-left: 1.5rem;
     font-size: 67px;
     color: #3FA796;
 }
 
 #foot {
     padding-left: 30px;
 }